<div id="demoDiv">

    <div class="row">

        <div id="col-xs-6 col-sm-4 col-md-4 weatherDetailsMap">

            <input id="pac-input"
                   class="controls"
                   type="text"
                   placeholder="Enter a location">

            <div id="map"></div>

            <div id="viewHistoricData">
                <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                <button ng-click="viewHistoricData()">View Historic Data</button>
            </div>

        </div>

        <div id="weatherDetails">

        </div>

        <div id="showGraph">
            <nvd3 options="options" data="data"></nvd3>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4 eventList">
            <ul ng-repeat="marker in ctrl.markers"
                on-finish-render="ngRepeatFinished"
                class="list-group">
                <li class="list-group-item" ng-click="ctrl.openInfoWindow($event, marker)">
                    <p>{{marker.placeName}}</p>
                    <div class="graphic"><canvas class="{{marker.imgSkyIcon}}"></canvas></div>
                    <p class="capitalize" id="names"><strong>{{marker.title.toLowerCase()}}</strong></p>
                    <p>{{marker.time | cmdate:'MMMM dd, yyyy'}}</p>
                </li>
            </ul>
        </div>

    </div>
</div>